# Archivos innecesarios de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de SQLite
*.sqlite3-journal

# Base de datos SQLite
db.sqlite3

# Archivos de Mac
.DS_Store

# Archivos de VSCode (si usas)
.vscode/



