.contenedor-mesas {
  display: flex;
  flex-wrap: wrap; /* que los botones pasen a otra fila si no caben */
  gap: 15px;       /* espacio entre botones */
  justify-content: center; /* centrarlos */
}

.mesa-botones {
  color: white;
  width: 140px;               /* todos del mismo ancho */
  height: 45px;               /* todos del mismo alto */
  display: flex;              /*Se utiliza para alinear el texto + el icono*/
  align-items: center;        /*Centra verticalmente el contenido*/
  justify-content: space-between; /* texto a la izquierda, icono a la derecha */
  padding: 0 12px;            /* espacio interno a los lados*/
  border-radius: 25px;        /* Esto es para hacerle los bordes */
  white-space: nowrap;        /*Esto evita que, apartir de la mesa 10 para adelante, el contenido se desborde y se generen mas líneas de lo que debería*/

}

.leyenda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* espacio entre "Libre" y "Ocupado" */
  font-size: 1rem;
  color: #333;
  margin-top: 20px;
}


.leyenda-item {
  display: flex;
  align-items: center;
  gap: 6px; /* espacio entre el punto y el texto */
  font-weight: 500;
}


.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* círculo perfecto */
  display: inline-block;
}


.dot.libre {
  background-color: #6a0d1a; /* vinotinto */
}

.dot.ocupado {
  background-color: #000; /* negro */
}

.mesa-libre {
  background-color: #6a0d1a; /* vinotinto */
  color: white;
}

.mesa-ocupada {
  background-color: #000; /* negro */
  color: white;
}