* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}


body {
  display: flex;
  height: 100vh;
  flex-direction: row;
}


/* PANEL IZQUIERDO: FORMULARIO */
.left-panel {
  flex: 1;                    /* ocupa mitad de pantalla */
  background-color: #fff;   /* fondo blanco */
  display: flex;              /* centra contenido */
  justify-content: center;
  align-items: center;
  padding: 3rem;
}


/* CONTENEDOR DEL FORMULARIO */
.form-container {
  max-width: 400px; /* límite del ancho */
  width: 100%;
}


/* TITULO INICIO - SESION */
.form-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}


/* Grupo de cada input - para evitar que los campos queden todos pegados */
.form-group {
  margin-bottom: 1.5rem;
}


.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}


.form-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #4b4b4b;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
}


.form-group input:focus {
  border-bottom-color: #540c0c;  /* cambia de color al hacer clic */
}


/* BOTON INICIAR */
.btn-login {
  background-color: #540c0c;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  padding: 1rem 3rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #360a0a;
}


/* PANEL DERECHO: BIENVENIDA*/
.right-panel {
  flex: 1;                       /* ocupa la otra mitad */
  background-color: #540c0c;   /* vinotinto */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;       /* centra vertical */ 
  align-items: center;           /* centra horizontal */
  text-align: center;
  padding: 3rem;

  /* Bordes redondeados para simular medio círculo */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}


.right-panel h1 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}


.right-panel p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 300px;
}


/* BOTON REGISTRO" */
.btn-register {
  background-color: #fff;
  color: #540c0c;
  font-weight: bold;
  font-size: 1.4rem;

  padding: 1rem 3rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none; 
}

.btn-register:hover {
  background-color: #eee;
}


/* ALERTAS */
.alert {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

/* Error de credenciales */
.alert.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Datos incompletos (warning) */
.alert.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}




/* RESPONSIVE */
@media (max-width: 900px) {
  body {
    flex-direction: column;
    height: auto;
  }

  .right-panel {
    border-radius: 0;
    padding: 2rem;
  }

  .form-container h1,
  .right-panel h1 {
    font-size: 2rem;
  }
}
