{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/editar_orden.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h1 class="fw-bold mb-4 text-center">Editar orden #{{ orden.numero_orden }}</h1>

  <form method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="nombre_cliente" class="form-label">Cliente:</label>
      <input type="text" name="nombre_cliente" class="form-control" value="{{ orden.nombre_cliente }}">
    </div>

    <div class="mb-3">
      <label for="total" class="form-label">Total:</label>
      <input type="text" name="total" class="form-control" value="{{ orden.total }}">
    </div>

    <div class="mb-3">
      <label for="id_tipoVenta" class="form-label">Tipo de venta:</label>
      <select name="id_tipoVenta" class="form-select">
        {% for tipo in tiposVenta %}
          <option value="{{ tipo.id_tipoVenta }}" 
            {% if orden.id_tipoVenta.id_tipoVenta == tipo.id_tipoVenta %}selected{% endif %}>
            {{ tipo.nombre }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="metodo_pago" class="form-label">Método de pago:</label>
      <input type="text" name="metodo_pago" class="form-control" value="{{ orden.metodo_pago }}">
    </div>

    <button type="submit" class="btn btn-save w-100">Guardar cambios</button>
  </form>
</div>
{% endblock %}
