{% extends "base.html" %}
{% load static %}

{% block title %}Ventas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/inventario.css' %}">
{% endblock %}

{% block content %}
<div class="inventario-container">
    <h1 class="fw-bold mb-4 text-center">Venta total</h1>
    <form method="get" action="{% url 'ventas' %}" class="search-bar mb-4">
        <input type="text" name="q" class="form-control" placeholder="Búsqueda por número de orden" value="{{ query }}">
        <button type="submit" class="btn-search">
            <i class="bi bi-search"></i>
        </button>
    </form>



    <!-- Lista de órdenes -->
    <div class="productos-list">
        {% for orden in ordenes %}
        <div class="producto-item">
            <span class="nombre">Pedido #{{ orden.numero_orden }}</span>
            <span class="precio">${{ orden.total|floatformat:0 }}</span>
            <div class="acciones">
                {% if orden.id_orden %}
                <button type="button" class="accion editar btn-editar" data-id="{{ orden.id_orden }}">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <form action="{% url 'eliminar_orden' orden.id_orden %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="accion eliminar"
                        onclick="return confirm('¿Seguro que deseas eliminar esta orden?');">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p class="text-center">No hay ventas registradas.</p>
        {% endfor %}
    </div>
</div>

{% include 'modal_orden.html' %}
{% include 'modal_orden_domicilio.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/ordenes.js' %}"></script>
<script src="{% static 'js/ordenes_domicilio.js' %}"></script>
{% endblock %}